$black: #060606;
$red: #e80004;
$yellow: #fdc900;
$hwRed: #ea1e31;
$devcenterBlue: #259f58;
$gigsterBlue: #3681eb;
$grey: #484848;
$sans-serif: "ApercuWeb",
"Helvetica Neue",
Arial,
sans-serif;

body {
    font-family: $sans-serif;
    background-color: $black;
    height: 100vh;
    overflow-y: auto; 
    width: 100%;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    color: white;
    font-size: 18px;
    position: relative;
}

h1, h2, h3, h4{
    font-family: 'GraphikWeb';
    font-weight: bold;
}

a{
    color: $hwRed;
    transition: color 0.3s;

    &.gigster{
        color: $gigsterBlue;
        &:hover{
            color: $gigsterBlue - #222;
        }
    }

    &.devcenter{
        color: $devcenterBlue;
        &:hover{
            color: $devcenterBlue - #222;
        }
    }

    &:hover{
        color: $red - #222;
        text-decoration: none;
    }
}

section{
    position: relative;
}

svg{
  width: auto;

  height: 120px;
  max-width: 80%;
  display: block;
  margin: auto;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: transparent;
}

#menu-toggle{
    position: fixed;
    right: 0;
    top: 0;
    width: 110px;
    height: 110px;
    z-index: 3;
    cursor: pointer;

    .open-nav{

        position: absolute;
        transition: transform .5s;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 35px;
        height: 19px;

        .bar{
            position: absolute;
            left: 0;
            width: 35px;
            height: 3px;
            background-color: white;
            transition: all 0.5s;

            &:first-child{
                top: 0;
            }

            &:nth-child(2){
                top: 8px;
            }

            &:last-child{
                top: 16px;
            }
        }

        &:hover, &.opened{
            transform: translate(-50%, -50%) scale(1.2, 1.2);
        }

        &.opened{
            .bar{
                top: 8px;
                height: 4px;
                background-color: $hwRed;

                &:first-child{
                    transform: rotate(45deg);
                }

                &:nth-child(2){
                    opacity: 0;
                }

                &:last-child{
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

#scroll-to-top{
    position: fixed;
    right: 0;
    bottom: 30px;
    width: 110px;
    height: 110px;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0;
     
    .icon{
        position: absolute;
        transition: transform .5s;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        svg{
            transform: rotate(180deg);
            fill: white;
            height: 20px;
            transition: all 0.3s;
            cursor: pointer;

            &:hover{
                height: 25px;
            }
        }
    }
}

#home{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 2;

    a.text{
        position: absolute;
        transition: transform .5s;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        font-family: GraphikWeb;
    }
}

#fullscreen-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0; bottom: 100%;
    background-color: rgba(0,0,0,.975);
    z-index: 2;
    transition: bottom 0.5s;
    overflow-y: scroll;
    font-family: 'GraphikWeb';
    transition-delay: .5s;

    .menu{
        list-style: none;
        text-align: center;
        font-size: 68px;
        font-weight: bold;
        margin-top: 100px;
        padding-left: 0;

        li{
            margin-bottom: 15px;
            opacity: 0;
            transform: translateY(50px);
            transition: all .5s;
        }

        a{
            color: white;
            text-decoration: none;
            transition: color .3s;
            display: inline-block;

            &:hover,
            &.active{
                color: $hwRed;
            }
        }
    }

    .social{
        margin: 120px 0 60px;
        text-align: center;
        opacity: 0;
        transition: opacity .5s;

        i{
            color:white;
            font-size: 27px;
            margin: 0 10px;
            text-align: center;
        }

        a{
            transition: opacity .3s;
            &:hover{
                opacity: .6;
            }
        }
    }

    &.opened{
        bottom: 0;
        transition-delay: 0s;

        .menu li{
            opacity: 1;
            transform: translateY(0);

            &:nth-child(1){
                transition-delay: .5s;
            }

            &:nth-child(2){
                transition-delay: .65s;
            }

            &:nth-child(3){
                transition-delay: .8s;
            }

            &:nth-child(4){
                transition-delay: .95s;
            }
        }

        .social{
            opacity: 1;
            transition-delay: .6s;
        }
    }
}

.brief{
    position: relative;
    color: white;
    font-size: 21px;
    text-align: center;
    margin-top: 40px;
    opacity: .5;
    font-family: 'ApercuWeb';
    max-width: 768px;
    margin: 40px auto 0;
}

.img-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/static-bg.png);
    background-size: cover;
    background-position: center;
    opacity: .1;
}

video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
}

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}


a.button{
    border: 1px solid white;
    padding: 15px 30px;
    color: white;
    text-align: center;
    display: block;
    font-size: 14px;
    margin: 30px auto 30px;
    text-transform: uppercase;
    font-family: GraphikWeb;
    letter-spacing: 1px;
    transition: all .3s;

    &:hover{
        background-color: $hwRed;
        border-color: $hwRed;
    }
}

footer{
    border-top: 1px solid #111;
    background-color: $black;
    padding: 75px 0;
    position: relative;
    
    h5{
        text-transform: uppercase;
        font-family: GraphikWeb;
        letter-spacing: 3px;
        color: $grey;
    }


    a{
        color: white;

        &:hover{
            color: white;
            opacity: .6;
        }
    }

    .social a:after{
        content: '–';
        margin: 0 10px;
    }

    .social a:last-child:after{
        display: none;
    }
}




