@font-face {
    font-family: 'GraphikWeb';
  src: url('../fonts/graphik-web/Graphik-Extralight-Web.eot');
  src: url('../fonts/graphik-web/Graphik-Extralight-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/graphik-web/Graphik-Extralight-Web.woff') format('woff'),
     url('../fonts/graphik-web/Graphik-Extralight-Web.ttf') format('truetype'),
     url('../fonts/graphik-web/Graphik-Extralight-Web.svg#Graphik-Extralight') format('svg');
  font-weight:  200;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'GraphikWeb';
  src: url('../fonts/graphik-web/Graphik-Light-Web.eot');
  src: url('../fonts/graphik-web/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/graphik-web/Graphik-Light-Web.woff') format('woff'),
     url('../fonts/graphik-web/Graphik-Light-Web.ttf') format('truetype'),
     url('../fonts/graphik-web/Graphik-Light-Web.svg#Graphik-Light') format('svg');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'GraphikWeb';
  src: url('../fonts/graphik-web/Graphik-Regular-Web.eot');
  src: url('../fonts/graphik-web/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/graphik-web/Graphik-Regular-Web.woff') format('woff'),
     url('../fonts/graphik-web/Graphik-Regular-Web.ttf') format('truetype'),
     url('../fonts/graphik-web/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'GraphikWeb';
  src: url('../fonts/graphik-web/Graphik-Medium-Web.eot');
  src: url('../fonts/graphik-web/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/graphik-web/Graphik-Medium-Web.woff') format('woff'),
     url('../fonts/graphik-web/Graphik-Medium-Web.ttf') format('truetype'),
     url('../fonts/graphik-web/Graphik-Medium-Web.svg#Graphik-Medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'GraphikWeb';
  src: url('../fonts/graphik-web/Graphik-Semibold-Web.eot');
  src: url('../fonts/graphik-web/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/graphik-web/Graphik-Semibold-Web.woff') format('woff'),
     url('../fonts/graphik-web/Graphik-Semibold-Web.ttf') format('truetype'),
     url('../fonts/graphik-web/Graphik-Semibold-Web.svg#Graphik-Semibold') format('svg');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
    font-family: 'ApercuWeb';
    src: url('../fonts/apercu/ApercuPro-Bold.eot');
    src: url('../fonts/apercu/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/apercu/ApercuPro-Bold.woff') format('woff'),
        url('../fonts/apercu/ApercuPro-Bold.ttf') format('truetype'),
        url('../fonts/apercu/ApercuPro-Bold.svg#ApercuPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ApercuWeb';
    src: url('../fonts/apercu/ApercuPro.eot');
    src: url('../fonts/apercu/ApercuPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/apercu/ApercuPro.woff') format('woff'),
        url('../fonts/apercu/ApercuPro.ttf') format('truetype'),
        url('../fonts/apercu/ApercuPro.svg#ApercuPro') format('svg');
    font-weight: normal;
    font-style: normal;
}
