.see-more{
    margin-top: 220px;
    height: 40px;

    .icon svg{
        fill: white;
        height: 20px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover{
            height: 25px;
        }
    }
}

#hero{
    position: relative;
    padding-top: 220px;
    height: 100vh;
}

#about{
    padding: 90px 0 45px;
    background-color: $black;

    .about{
        font-family: 'ApercuWeb';
        font-size: 42px;
        font-weight: bold;
        line-height: 1.4;
        padding-bottom: 90px;

        .mute{
            color: $grey;
        }

        p{
            margin-top: 30px;
        }

        .prompt{
            font-size: 21px;
            margin-top: 60px;
            text-transform: uppercase;
            letter-spacing: 5px;
            border-bottom: 2px solid $grey;
            color: $grey;
            padding-bottom: 5px;
            cursor: pointer;
            display: block;
            z-index: 2;
            transition: all 0.5s;

            i{
                float: right;
            }

            &:hover{
                color: white;
                border-color: white;
            }
        }

        
        .full-bio{
            transition: all 0.3s;
            height: auto;
            opacity: 1;

            &.collapsed{
            
                height: 0;
                opacity: 0;
                overflow: hidden;
                // margin-top: 90px;
            }
        }
    }
}


#work-snippet{
    position: relative;
    background-color: $black;
    padding: 45px 0 90px;
    z-index: 1;

    .go-to-work{
        height: 450px;
        padding: 160px 0;
    }

    .clients{
        padding-left:45px;

        h4{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $grey;
            text-align: center;
            font-size: 16px;    
            margin-bottom: 45px;
            margin-top: 0;
        }

        .client{
            text-align: center;
            padding: 30px 0;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: GraphikWeb;
            font-size: 16px;

            img{
                height: 90px;
                width: auto;
            }
        }
    }

    .work-copy{

        .bar{
            height: 5px;
            background-color: white;
            margin-bottom: 30px;
        }

        h2{
            font-size: 48px;
            line-height: 1.1;
            font-weight: 900;
            margin-bottom: 20px;
        }    

        p{
            line-height: 1.5;
            color: #999;
            font-size:16px;
        }
    }
}


