#interests{
	background-color: $black;
	padding: 75px 0;

	.interest{
		margin-top: 45px;
		margin-bottom: 45px;
		position: relative;
		padding-top: 120px;
		padding-left: 45px;
		padding-right: 45px;
		

		.icon{
			position: absolute;
			left: 0;
			top: 0px;
			height: 240px;
			width: 240px;
			opacity: .04;
		}

		.desc{
			line-height: 1.5;
			font-size: 24px;
		}
	}
}





