#project-hero{
	padding-bottom: 60px;
	padding-top: 150px;
	text-align: center;

	h1{
		font-size: 64px;
		font-weight: bold;
		font-family: 'GraphikWeb';
	}
	
	.see-more{
		margin-top: 120px;
	}
}


#projects{
	background-color: $black;
	padding: 75px 0 90px;

	.project{
		height: 350px;
		margin: 45px 0;
		position: relative;
		padding: 30px 45px;
		

		.image{
			background-color: #777;
			width: 100%;
			height: 100%;
			float: right;
			opacity: .8;
		}

		.details{
			position: absolute;
			left: 0;
			bottom: -54px;

			h1{
				margin-bottom: 15px;
				font-size: 42px;
			}

			.desc{
				font-size: 14px;
				width: 60%;
				line-height: 1.5;
				box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
			}
		}
	}
}

