$bigText: 27px;
$midText: 19px;
$regularText: 16px;


@media screen and (max-width: 801px){

	#fullscreen-menu{
		.menu{
			margin-top: 300px;
		}
	}

	#hero{
	    height: auto;
	    padding-top: 150px;
	    padding-bottom: 120px;

	    .see-more{
			margin-top: 90px;
	    }
	}

	video{
		display: none;
	}

	#about {
		padding-bottom: 0px;
		.about{
			font-size: $bigText;

			.prompt{
				margin-top: 30px;
				font-size: $regularText;
			}
		}
	}

	#work-snippet{
		padding: 30px 0;

		a.button{
			display: inline-block;
		}

		.bar{
			display: none;
		}

		text-align: center;
		font-size: 19px;

		.clients{
			margin-top: 120px;
			padding-left: 0;
		}
	}

	footer{
		.copyright{
			margin-top: 45px;
		}
	}


	//work
	#projects{
		.project{
			margin-bottom: 75px;

			.details{
				text-align: center;
				top: 250px;

				.desc{
					width: 80%;
					margin: auto;
				}
			}
		}
	}


	//talks
	#wisdom{
		.teaching-text{
			font-size: $bigText;
		}

		.speaking{
			.event{

				text-align: center;
				
				.bar{
					display: none;
				}

				h2{
					min-height: auto;
				}

				.desc{
					font-size: $midText;
				}
			}
		}
	}


	//writing
	#blogs{
		.blog{
			text-align: center;
				
			.bar{
				display: none;	
			}

			.desc{
				font-size: $midText;
			}

			a.button{
				display: inline-block;
			}
		}
	}

	//interests
	#interests{
		.interest{
			text-align: center;

			.icon{
				top: 30px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}


// smaller tablets
@media screen and (max-width: 601px){
	
	#fullscreen-menu{
		.menu{
			margin-top: 200px;
		}
	}
	footer{
		.follow{
			margin-top: 45px;
		}
	}
}


$bigText: 24px;
$midText: 19px;
$regularText: 14px;


//phones
@media screen and (max-width: 529px){

	#menu-toggle{
		height: 75px;
		width: 75px;

		.open-nav .bar{
			height: 2px;
			width: 30px;
		}
	}

	#home{
		height: 75px;

		a.text{
			left: 15px;
			font-size: $midText;
		}
	}

	.img-bg{
		opacity: .1;
	}

	#fullscreen-menu{
		.menu{
			margin-top: 120px;

			li{
				font-size: $bigText;
				margin-bottom: 30px;
			}
		}

		.social i{
			font-size: $bigText;
		}
	}

	#hero{
		padding-bottom: 60px;
		.brief{
			font-size: $midText;
		}
	}

	#scroll-to-top{
		display: none;
	}

	.brief{
		max-width: 90%;
		margin-top: 20px;
		font-size: $regularText;
	}

	#about{ 
		padding: 45px 0 0;
		.about{
			font-size: $midText;

			.prompt{
				margin-top: 45px;
				font-size: $regularText;
			}
		}
	}

	#work-snippet{
		.work-copy h2{
			font-size: $bigText;
		}

		h4{
			line-height: 1.4;
		}
	}

	footer{
		text-align: center;
	}



	//work
	#project-hero, #writing-hero{
		padding-top: 75px;
	}

	#projects{

		padding: 45px 0;
		
		.project{
			padding: 0;
			height: 180px;
			margin-bottom: 150px;

			.details{ 
				top: 125px;

				h1{
					font-size: $bigText;
				}

				.desc{
					font-size: $regularText;
					width: 100%;
				}
			}
		}
	}


	//talks & teaching
	#wisdom{
		
		.teaching .teaching-text{
			font-size: $bigText;
		}

		.speaking .event{
			h2{
				font-size: $bigText;
			}

			.desc{
				font-size: $regularText;
			}
		}
	}


	//writing
	#blogs{
		padding: 45px 0;
		h4{
			letter-spacing: 0;
			display: none;
			
		}

		.blog {
			padding: 0;
			.details{
				h1{
					font-size: $bigText;
				}

				.desc{
					font-size: $regularText;
				}
			}
		}
	}


	//interests
	#interests{
		padding: 30px 0;

		.interest{
			padding-left: 0;
			padding-right: 0;
			padding-top: 60px;

			.icon{
				top: 0;
				height: 120px;
				width: 120px;
			}

			.desc{
				font-size: $regularText;
			}
		}
	}
}
























