#wisdom{
	background-color: $black;
	padding: 90px 0;

	h4{
		text-transform: uppercase;
		letter-spacing: 8px;
		text-align: center;
		font-size: 16px;	
		margin-bottom: 45px;
	}

	.teaching-text{
		font-size: 42px;
		line-height: 1.5;
		text-align: center;
		font-weight: bold;

		.mute{
			color: $grey;
		}

		.lag{
			color: $hwRed;
		}
	}

	a.button{
		border: 1px solid white;
		padding: 15px 30px;
		color: white;
		text-align: center;
		display: inline-block;
		font-size: 14px;
		margin: 30px auto 30px;
		text-transform: uppercase;
		font-family: GraphikWeb;
		letter-spacing: 1px;
		transition: background-color border-color .3s;

		&:hover{
			background-color: $hwRed;
			border-color: $hwRed;
			// color: $black;
		}
	}

	.speaking{
		margin-top: 120px;

		.event{
			margin-top: 30px;
			// border-top: 5px solid white;
			padding: 15px;

			.bar{
				height: 5px;
				background-color: white;
				margin-bottom: 15px;
			}

			h2{
				font-size: 42px;
				line-height: 1.3;
				margin-bottom: 20px;
				min-height: 100px;
			}

			.desc{
				font-size: 16px;
				font-family: 'ApercuWeb';
				line-height: 1.7;
				color: #999;
			}
		}
	}
}




