#writing-hero{
	padding-bottom: 60px;
	padding-top: 150px;
	text-align: center;

	h1{
		font-size: 64px;
		font-weight: bold;
		font-family: 'GraphikWeb';
	}
	
	.see-more{
		margin-top: 120px;
	}
}

#blogs{
	padding: 120px 0px 90px;
	background-color: $black;

	h4{
	    text-transform: uppercase;
	    letter-spacing: 5px;
	    color: $grey;
	    text-align: center;
	    font-size: 16px;    
	    margin-bottom: 45px;
	    margin-top: 0;
	}

	.blog{
		margin-top: 45px;
		padding: 15px; 
		background-color: $black;
		transition: all 0.5s;
		cursor: pointer;
		position: relative;

		.bar{
			height: 4px;
			background-color: white;
			margin-top: 10px;
			margin-bottom: 30px;
		}

		h1{
			clear: both;
			font-size: 42px;
			margin-bottom: 30px;
		}

		.desc{
			font-size: 16px;
			line-height: 1.5;
			color: #999;
		}
	}
}

a.button:hover{
	.chunks-of-code &{
		background-color: #1a74ff;
		border-color: #1a74ff;
	}

	.medium &{
		background-color: #02ac6e;
		border-color: #02ac6e;
	}

	.hello-sails &{
		background-color: $hwRed;
	}
}


