font-face {
    font-family: 'Graphik Web';
  src: url('./font/Graphik-Extralight-Web.eot');
  src: url('./font/Graphik-Extralight-Web.eot?#iefix') format('embedded-opentype'),
     url('./font/Graphik-Extralight-Web.woff') format('woff'),
     url('./font/Graphik-Extralight-Web.ttf') format('truetype'),
     url('./font/Graphik-Extralight-Web.svg#Graphik-Extralight') format('svg');
  font-weight:  200;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Extralight-Web {
    font-family: 'Graphik Web';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
  src: url('./font/Graphik-Light-Web.eot');
  src: url('./font/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
     url('./font/Graphik-Light-Web.woff') format('woff'),
     url('./font/Graphik-Light-Web.ttf') format('truetype'),
     url('./font/Graphik-Light-Web.svg#Graphik-Light') format('svg');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Light-Web {
    font-family: 'Graphik Web';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
  src: url('./font/Graphik-Regular-Web.eot');
  src: url('./font/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('./font/Graphik-Regular-Web.woff') format('woff'),
     url('./font/Graphik-Regular-Web.ttf') format('truetype'),
     url('./font/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Regular-Web {
    font-family: 'Graphik Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
  src: url('./font/Graphik-Medium-Web.eot');
  src: url('./font/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('./font/Graphik-Medium-Web.woff') format('woff'),
     url('./font/Graphik-Medium-Web.ttf') format('truetype'),
     url('./font/Graphik-Medium-Web.svg#Graphik-Medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Medium-Web {
    font-family: 'Graphik Web';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
  src: url('./font/Graphik-Semibold-Web.eot');
  src: url('./font/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
     url('./font/Graphik-Semibold-Web.woff') format('woff'),
     url('./font/Graphik-Semibold-Web.ttf') format('truetype'),
     url('./font/Graphik-Semibold-Web.svg#Graphik-Semibold') format('svg');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}

.Graphik-Semibold-Web {
    font-family: 'Graphik Web';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}
